@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", cursive,
    serif, sans-serif;
}
body {
  background-color: rgb(246, 242, 242);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.episode {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4);
  margin: 10px;
  border-radius: 10px;
}
.name {
  padding: 15px 0px 15px 0px;
  border-radius: 5px;
  margin: 2px 10px 10px 10px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  text-justify: auto;
  font-weight: 600;
  box-shadow: 2px 2px grey;
}
.episode > p {
  padding: 15px;
}
.episode > img {
  padding: 15px;
}
