#search {
  width: 18rem;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.select {
  width: 18rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}
.name {
  padding: 15px 0px 15px 0px;
  border-radius: 5px;
  margin: 2px 10px 10px 10px;
  width: 100%;
  text-align: center;
  text-justify: auto;
  font-weight: 700;
}
#title {
  border: 1px solid #b4b7b8;
  background-color: rgb(85, 90, 95);
  color: white;
  border-radius: 5px 5px 0px 0px;
}

#resultNumber {
  color: white;
}

.episodeNameCode {
  color: white;
  margin-right: 10px;
  font-weight: 700;
}
.card {
  height: 100%;
}
.card-body {
  padding: 1.25rem 1.25rem 0rem 1.25rem;
}
.col-md-4 {
  padding-bottom: 15px;
}
.name {
  text-align: left;
  margin-bottom: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.episodefooter {
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;
}
a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
small {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (min-width: 576px) {
  .name {
    text-align: left;
    margin-bottom: 2px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) {
  .name {
    text-align: left;
    margin-bottom: 2px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

@media (min-width: 992px) {
  .name {
    text-align: left;
    margin-bottom: 2px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1200px) {
  .name {
    text-align: left;
    margin-bottom: 2px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}
