.navbar-toggler {
  background-color: white;
  color: black;
  width: 435px;
}
.navbar-dark {
  color: black;
}
.name {
  padding: 15px 0px 15px 0px;
  border-radius: 5px;
  margin: 2px 10px 10px 10px;
  width: 100%;
  text-align: center;
  text-justify: auto;
  font-weight: 800;
}
#title {
border: 1px solid #b4b7b8;
background-color: rgb(85, 90, 95);
color: white;
} 

#resultNumber {
  color: white;
}

.text-muted {
  color: white;
}